* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Microsoft YaHei";
}

.header {
    height: 40px;
    font-size: 18px;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.header .login {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.login li a:link, .login li a:visited {
    text-decoration: none;
    color: white;
}

.login li a:hover, .login li a:active {
    text-decoration: none;
    color: #00b3ee;
}

ul.menu {
    display: inline-block;
    width: 450px;
    margin-left: 200px;
}

.menu li + li {
    margin-left: 30px;
}

.menu li a:link, .menu li a:visited {
    text-decoration: none;
    color: white;
}

.menu li a:hover, .menu li a:active {
    text-decoration: none;
    color: #00b3ee;
}

.wrapper {
    width: 900px;
    margin-top: 60px;
    margin-bottom: 30px;
}

#text-body {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 200px;
    outline: 0;
    font-size: 12px;
    word-wrap: break-word;
    overflow: auto;
    overflow-x: hidden;
}

div.upload {
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #ccc;
}

div.p-body {
    color: rgb(204,204,204);
    position: absolute;
    top: 30px;
    width: 100%;
    height: 275px;
}

.submit {
    width: 60px;
    float: right;
    margin-top: 20px;
}

