
.one {
    width: 331px;
    height: 430px;
    border: 1px solid #ccc;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

#caroucel { /*轮播  背景*/
    position: relative;
    top: 30px;
    width: 85%;
    height: 350px;
    margin: auto;
    margin-top:40px;
    background: #ffffff;
    box-shadow: 3px 3px #E0E0E0;
}
#myCarousel img {
    width: 100%;
    margin: auto;
    height: 350px;
}

#menu {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

#pictures {
    width: 80%;
    margin: 10px auto 30px;
    overflow: hidden;
}

.love {
    width: 331px;
    height: 430px;
}
