*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Microsoft YaHei";
    background-color: #000;
}
.header{
    height: 40px;
    font-size: 18px;
    padding: 5px;
    background-color: #000000;
    color: #ffffff;
}

ul.menu{
    /*display: inline-block;*/
    width: 430px;
    margin: 0 auto;
}

.menu li+li{
    margin-left: 30px;
}

.menu li a:link,.menu li a:visited{
    text-decoration: none;
    color: white;
}

.menu li a:hover,.menu li a:active{
    text-decoration: none;
    color: #c6ddff;
}

.wrapper{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 30px;
}

#text-body{
    position: relative;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

div.upload{
    width: 100%;
    height: 30px;
    background-color: #f3f3f3;
    position: absolute;
    top: 0;
    border-bottom: 1px solid #ccc;
}

div.p-body{
    position: absolute;
    top: 30px;
    width: 100%;
    height: 275px;
}

.submit{
    width: 60px;
    float: right;
    margin-top: 20px;
}

